<div id="toast_container" data-controller="toast" class="fixed right-4 top-20 z-[9999]">
  <% if flash[:notice].present? %>
    <div id="flash_toast" class="bg-green-600 text-white px-4 py-2 rounded shadow-lg"> <%= flash[:notice] %> </div>
  <% elsif flash[:alert].present? %>
    <div id="flash_toast" class="bg-red-600 text-white px-4 py-2 rounded shadow-lg"> <%= flash[:alert] %> </div>
  <% end %>
</div>
