<div class="min-h-screen flex items-start py-8 px-6" data-controller="email-templates">
  <div class="w-1/3 pr-4">
    <%= render partial: 'email_templates/list' %>
  </div>

  <div class="w-2/3 pl-4">
    <%= render partial: 'email_templates/editor' %>
  </div>
</div>

<% tinymce_key = ENV['TINYMCE_API_KEY'].presence || Rails.application.credentials.dig(:tinymce, :api_key) %>
<% if tinymce_key.present? %>
  <script src="https://cdn.tiny.cloud/1/<%= tinymce_key %>/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<% else %>
  <!-- TinyMCE not configured; editor will fallback to plain textarea -->
<% end %>
